html,body{
    background-color: #161b22;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
}
/* mmm */
.wraperlop {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
}
/* fff */
.wraperlop .lop1 {
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-between;
    background-color: #1a222e; 
    border-bottom: 1px solid #30363d;
}
.Khung{ 
    margin-left: 2%;
    width: 6%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatar {
    width: 100%; 
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s;
}
#avatar:hover {
    transform: scale(1.2);
}
.formm{
    width: 30%;
    height:100% ;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
input{
    width: 66%;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
#password,#password1 {  
    margin-top: 3%;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color:  #22272e;
    color: #b0c9e2;
    outline: none;
    transition: border 0.3s ease-in-out;
}
#password::placeholder, #password1::placeholder {
    color: #b0c9e2;
}
#main_menu{
    width: 64%;
    height: 60%;
    display: inline-block;
    border-left:1px solid #30363d ;
    border-right:1px solid #30363d ;
}
#you ul {
    display: flex;
    gap: 5%;
    list-style: none;  
}
#you ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
} 
#you ul li a:hover {
    color: #ff58ee;
}
/* fff */
.wraperlop .lop2 {
    display: flex;
    align-items: center;
    width: 45%;
    background-color: #1a222e; 
    border-bottom: 1px solid#30363d ;
}
#info-box{width: 70%;}
#info-box ul{
    margin-left: 10px;
    display: flex;
    gap: 20px;
}
li #icon {
    color: #b0c9e2;
    border: none;
    background: transparent;
    font-size: 20px;   
} #icon:hover{color: #16ff5c;transition: color 0.2s; }
#video{ 
    height: 72px;
    object-fit: contain;
}
@media screen and (max-width: 900px) {
    .lop1, .lop2 {
        width: 100%; 
        display: block;
        min-width: 100%;
        height: 72px;
    }
}
/* mmm */
.bos2{
    padding-top: 5px;
    margin-top: 5%;
    width: 100%;
    height: 25%;
   
}
/* mmm */
button {
    width: 50px;
    height: 25px;
    background-color:  #22272e;
    color: #b0c9e2;
    outline: none;
    border-radius: 6px;
    font-size: 10px;
    cursor: pointer;
    transition: background 0.2s;
    border: 1px solid #ffffff;
}
button:hover {
    background-color: #000000;
}
button:active {
    background-color: #000000;
}
.bos1bos2{
    width: 100%;
    height: auto;
}
.hidden{
    display:  none; 
}
/* mmm */
#score-container{
    width: 90%;
    height: 60%;
    justify-self: center;
    overflow-y: auto;
    background-color: #22272e;
    /* border: 1px solid #ffffff; */
    align-items: center;
    max-height:70%;
    padding-bottom: 35px;
    border-radius: 10px;
}
.student-name{
    width: 15%;
}
h3{
    color: #ffffff ;
    text-align: center;
    padding-top: 20px;
}
table{
    border:1px solid rgb(255, 255, 255);
    width: 90%;
    display: center ;
    border-collapse: collapse;
    margin: auto;   
}
th{
    text-align: center;
    color:  #b0c9e2;
    border: 1px solid #30363d;   
}
td{ 
    color:  #ffffff; text-align: center;
    border: 1px solid #30363d;
    width: 5%;
}
.delamgi{
    width: 100%;
    height: 100%;
    background-image: url("140721235282360.png");
    background-size: cover;
}
/* mmm */
